<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="comun/style.css" />
    <title>Login</title>
</head>
<body>
    <form id="form_inicio" class="contenedor-login">
        <h1>Iniciar sesión</h1>
        <p>Email</p>
        <input class="form-control" type="email" id="input_email" required></input>
        <p>Password</p>
        <input class="form-control" type="password" id="input_password" required></input>
        <button type="submit" id="iniciar_sesion" class="boton-form">Iniciar sesion</button>
    </form>
</body>
<script type="module" src="./scripts/login.js"></script>
</html>