<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="seleccion_horario.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seleccion horario</title>
</head>
<body>
    <h1>Nombre pagina</h1>
    <div class="conteiner-seleccion-horario">
        <h2 id="viaje">[Ciudad origen - Ciudad destino]</h2>
        <div style="height:90%; margin: 1%; display:flex; flex-direction: row;">
            <div id="vista-recorrido" class="conteiner-vista-recorrido">
                
            </div>
            <div class="conteiner-vista-horario">
                <h2 style="margin-bottom: 0;">Lineas disponibles</h2>
                <div id="container-linea">
                </div>
                <button id="boton-form" class="boton-select">Seleccionar</button>
            </div>
        </div>
    </div>

<script type="module" src="scripts/seleccion_horario.js"></script>
</body>