<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="vista_ticket.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ticket</title>
</head>
<body>
    <h1>Nombre pagina</h1>
    <div class="conteiner-informacion-ticket">
        <h3>¡Pasaje comprado!</h3>
        <div class="info-ticket">
            <h3 id="id_ticket">ID Ticket: [fwoefbo23io234ib]</h3>
            <h3 id="precio">Precio: [$2600]</h3>
        </div>
        <div id="img"></div>
        <button id="boton_form" class="boton-form">Descargar ticket</button>
    </div>

<script type="module" src="scripts/ticket.js"></script>
</body>