<link rel="stylesheet" href="menu.css" />

<div id="container-menu-lateral-admin">
    <div id="div-administrador-txt">
        <h1>Administrador</h1>
    </div>
    <!--menu-->
    <div class="container-items-menu">
        <div class="boton-menu-colapsable">
            <div class="inner-boton">
                <h2>Estaciones</h2>
                <img class="icon-expand" src="../../../icons/arrow_expand.svg"></img>
            </div>
        </div>
        <div class="div-colapsable">
            <div class="boton-colapsable">
                <h4>Añadir Estaciones</h4>
            </div>
            <div class="boton-colapsable">
                <h4>Editar estaciones</h4>
            </div>
            <div class="boton-colapsable">
                <h4>Eliminar estaciones</h4>
            </div>
        </div>
        <!-- Siguiente item en menu-->
        <div class="boton-menu-colapsable">
            <div class="inner-boton">
                <h2>Trenes</h2>
                <img class="icon-expand" src="../../../icons/arrow_expand.svg"></img>
            </div>
        </div>
        <div class="div-colapsable">
            <div class="boton-colapsable">
                <h4>Añadir trenes</h4>
            </div>
            <div class="boton-colapsable">
                <h4>Editar trenes</h4>
            </div>
            <div class="boton-colapsable">
                <h4>Eliminar trenes</h4>
            </div>
        </div>
        <!-- Siguiente item en menu-->
        <div class="boton-menu-colapsable">
            <div class="inner-boton">
                <h2>Lineas</h2>
                <img class="icon-expand" src="../../../icons/arrow_expand.svg"></img>
            </div>
        </div>
        <div class="div-colapsable">
            <div class="boton-colapsable">
                <h4>Añadir lineas</h4>
            </div>
            <div class="boton-colapsable">
                <h4>Editar lineas</h4>
            </div>
            <div class="boton-colapsable">
                <h4>Eliminar lineas</h4>
            </div>
        </div>
        <!-- Siguiente item en menu-->
        <div class="boton-menu-colapsable">
            <div class="inner-boton">
                <h2>Recorridos</h2>
                <img class="icon-expand" src="../../../icons/arrow_expand.svg"></img>
            </div>
        </div>
        <div class="div-colapsable">
            <div class="boton-colapsable">
                <h4>Añadir recorridos</h4>
            </div>
            <div class="boton-colapsable">
                <h4>Editar recorridos</h4>
            </div>
            <div class="boton-colapsable">
                <h4>Eliminar recorridos</h4>
            </div>
        </div>
    </div>
</div>
<script src="menu.js"></script>