<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="comun/style.css" />
    <link rel="stylesheet" href="../../../src/Components/menu_lateral_admin/menu.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar lineas</title>
</head>

<body>
    <div id="menu">
    </div>
    <div class="funcionabilidad">
        <div class="contenedor-input-admin">
            <h1>Editar Lineas</h1>
            <div class="contenedor-form-admin">
                <div class="input-field-fill margin-1">
                    <input type="input" class="form__field" placeholder=" " name="Nombre_linea" id="Nombre_linea"
                        required />
                    <label for="Nombre_linea" class="form__label">Nombre de linea</label>
                </div>
                <div id="contenedor-input-horarios" class="contenedor-inputs-dynamic border">
                    <!--se añaden los horarios por js-->
                </div>
                <div style="margin-top: 1%; margin-left: auto; margin-right: auto;">
                    <button id="boton-less-horario" class="boton-more">-</button>
                    <button id="boton-more-horario" class="boton-more">+</button>
                </div>
                <div id = "contenedor-input-estaciones" class="contenedor-inputs-dynamic border">
                <!--se añaden los input por js-->
                </div>
                <div style="margin-top: 1%; margin-left: auto; margin-right: auto;">
                    <button id="boton-less-estacion" class="boton-more">-</button>
                    <button id="boton-more-estacion" class="boton-more">+</button>
                </div>
                <button id="boton-put" class="boton-form">Editar linea</button>
            </div>
        </div>
    </div>
   
</body>
<script type="module" src="comun/script.js"></script>
<script type="module" src="scripts/linea.js"></script>
<script type="module" src="scripts/crud_linea.js"></script>
</html>