<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="comun/style.css" />
    <link rel="stylesheet" href="../../../src/Components/menu_lateral_admin/menu.css" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="./comun/isAuth.js" ></script>
    <title>Editar tren</title>
</head>

<body>
    <div id="menu">
    </div>
    <form id="form_editar_tren" class="funcionabilidad">
        <div class="contenedor-input-admin">
            <h1>Editar Tren</h1>
            <div class="contenedor-form-admin">
                <div class="input-field-fill margin-1">
                    <input type="input" class="form__field" placeholder=" " name="Numero_serie" id='Numero_serie' required />
                    <label for="Numero_serie" class="form__label">Numero serie</label>
                </div>
                <div class="input-field-fill margin-1">
                    <input type="number" class="form__field" placeholder=" " name="Velocidad" id='Velocidad' required />
                    <label for="Velocidad" class="form__label">Velocidad</label>
                </div>
                <div class="input-field-fill margin-1">
                    <input type="number" class="form__field" placeholder=" " name="Asientos" id='Asientos' required />
                    <label for="Asientos" class="form__label">Asientos</label>
                </div>
                <button type="submit" id="boton-put" class="boton-form">Editar tren</button>
            </div>
        </div>
    </form>
    <script type="module" src="comun/script.js"></script>
    <script type="module" src="scripts/trenes.js"></script>
</body>

</html>