<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="comun/style.css" />
    <link rel="stylesheet" href="../../../src/Components/menu_lateral_admin/menu.css" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eliminar lineas</title>
</head>

<body>
    <div id="menu">
    </div>
    <div class="funcionabilidad">
        <div class="contenedor-input-admin">
            <h1>Eliminar Lineas</h1>
            <div class="contenedor-form-admin">
                <div class="input-field-fill margin-1">
                    <input type="input" class="form__field" placeholder=" " name="Nombre_linea" id="Nombre_linea"
                        required />
                    <label for="Nombre_linea" class="form__label">Nombre de linea</label>
                </div>
                <button id="boton-delete" class="boton-form">Eliminar linea</button>
            </div>
        </div>
    </div>
   
</body>
<script type="module" src="comun/script.js"></script>
<script type="module" src="scripts/crud_linea.js"></script>
</html>