<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="comun/style.css" />
    <link rel="stylesheet" href="../../../src/Components/menu_lateral_admin/menu.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eliminar Estación</title>
</head>

<body>
    <div id="menu">
    </div>
    <div class="funcionabilidad">
        <div class="contenedor-input-admin">
            <h1>Eliminar Estaciónes</h1>
            <div class="contenedor-form-admin">
                <div class="input-field-fill margin-1">
                    <input type="input" class="form__field" placeholder=" " name="Nombre_estacion" id="Nombre_estacion"
                        required />
                    <label for="Nombre_estacion" class="form__label">Nombre de estacion</label>
                </div>
                <button id="boton-delete" class="boton-form">Eliminar estacion</button>
            </div>
        </div>
    </div>


    </div>
    <script type="module" src="comun/script.js"></script>
    <script type="module" src="scripts/estaciones.js"></script>
</body>

</html>