<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="buscar_recorrido.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buscar recorrido</title>
</head>
<body>
    <h1>Nombre pagina</h1>
    <div class="buscador">
        <div class="buscador-origen-l">
            <label class="search__label">Ciudad origen</label>
        </div>

        <div class="buscador-origen-r">
            <label class="search__label">Ciudad destino</label>
        </div>
        <button class="buscador-boton">
            <img class="icon" src="../../../icons/search.svg"></img>
        </button>
    </div>
</body>