<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="buscar_recorrido.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buscar recorrido</title>
</head>
<body>
    <h1>Nombre pagina</h1>
    <div class="buscador">
        
        <div class="buscador-origen-l">
            <input type="input" class="form__field" placeholder=" " name="Ciudad_origen" id='Ciudad_origen' required />
            <label for="Ciudad_origen" class="search__label">Ciudad origen</label>
        </div>

        <div class="buscador-origen-r">
            <input type="input" class="form__field" placeholder=" " name="Ciudad_destino" id='Ciudad_destino' required />
            <label for="Ciudad_destino" class="search__label">Ciudad destino</label>
        </div>
        <div class="fecha">
            <input type="date" class="form__field" placeholder=" " name="fecha" id='fecha' required />
            <label for="fecha" class="search__label">fecha</label>
        </div>
        <button id="search" class="buscador-boton">
            <img class="icon" src="../../../icons/search.svg"></img>
        </button>
    </div>
    <script type="module" src="scripts/buscar_recorrido.js"></script>
</body>