<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="seleccion_horario.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seleccion horario</title>
</head>
<body>
    <h1>Nombre pagina</h1>
    <div class="conteiner-seleccion-horario">
        <h2>[Ciudad origen - Ciudad destino]</h2>
        <div style="height:90%; margin: 1%; display:flex; flex-direction: row;">
            <div class="conteiner-vista-recorrido">
                
            </div>
            <div class="conteiner-vista-horario">
                <h2>Horarios disponibles</h2>
                <div>
                    <div class="conteiner-horarios">
                        <p> Salida [8:30] - Llegada [10:30]</p>
                    </div>
                    <div class="conteiner-horarios">
                        <p> Salida [8:30] - Llegada [10:30]</p>
                    </div>
                    <div class="conteiner-horarios">
                        <p> Salida [8:30] - Llegada [10:30]</p>
                    </div>
                </div>
                <button class="boton-select">Seleccionar</button>
            </div>
        </div>
    </div>
</body>