<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="seleccion_asiento.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seleccion asiento</title>
</head>
<body>
    <h1>Nombre pagina</h1>
    <div class="conteiner">
        <div class="seleccion_asiento">
        </div>
        <div class="conteiner-detalles_asiento">
            <h3>Detalles</h3>
            <div class="detalles-asiento">
                <h4>Asiento n°</h4>
                <h4 style="margin-left:6%">[24]</h4>
                <h4>Precio</h4>
                <h4 style="margin-left:6%">[$2500]</h4>
                <h4>Hora salida</h4>
                <h4 style="margin-left:6%">[8:30]</h4>
                <h4>Hora llegada</h4>
                <h4 style="margin-left:6%">[10:30]</h4>
            </div>
            <button class="boton-comprar">Comprar pasaje</button>
        </div>
    </div>
</body>