<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="vista_ticket.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ticket</title>
</head>
<body>
    <h1>Nombre pagina</h1>
    <div class="conteiner-informacion-ticket">
        <h3>¡Pasaje comprado!</h3>
        <div class="info-ticket">
            <h3>ID Ticket: [fwoefbo23io234ib]</h3>
            <h3>Precio: [$2600]</h3>
        </div>
        <img src=""></img>
        <button class="boton-form">Descargar ticket</button>
    </div>
</body>