html, body {
    height:100%;
    margin: 0;
}

.container{
    height: 100%;
    width: 20%;
    background-color: black;
}

.boton-menu-colapsable {
    display: flex;
    align-items: center;
    height: fit-content;
    height: 7vh;
    width: 100%;
    background-color: red;
}

.inner-boton{
    margin-left: 5%;
}

.div-colapsable{
    display: none;
    margin-left: 10%;
    overflow: hidden;
    width: 90%;
    background-color: blue;
    max-height:0;
    transition: max-height 0.4s ease-out;
}

.boton-colapsable{
    display: flex;
    background-color: green;
}